.sw-cms-el-config-currency-rate {
    &__position {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
    }

    &__controls {
        display: flex;
        justify-content: space-around;
    }
}
