.currency-rate {
    display: flex;
    flex-direction: column;
}

.currency-rate-wrapper {
    width: 100%;

    img {
        width: 100%;
    }

    &.align-self-center {
        align-self: center;
    }

    &.align-self-end {
        align-self: flex-end;
    }
}