{% block sw_cms_block_currency_rate_preview %}
    <div class="sw-cms-preview-currency-rate">
        <img :src="'/obtainingexchangecurrencyrate/static/img/cms/cr.jpg' | asset">
    </div>
{% endblock %}
