{% block sw_cms_block_currency_rate %}
	<div class="sw-cms-block-currency-rate">
		<slot name="content">
        {% block sw_cms_block_currency_rate_slot %}{% endblock %}
		</slot>
	</div>
{% endblock %}
